body{
    background-color:#2e2947;
    background-image: radial-gradient(#2e2947,rgb(17, 14, 31));
    background-repeat: no-repeat;
    background-attachment:fixed;
   
    
}
div{
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;
}
.battleground{
    margin-top: 60px;
    margin-bottom: 50px;
}
.player{
    rotate: -90deg;
}
.h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 47px;
}

.name{
    max-width: fit-content;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 0;

}
button{
    background-color: #3095c4;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 10px;
    cursor: pointer;
    margin-left: 20px;
    width: 200px;
    
     
}

footer{
    margin-top: 30px;
    bottom: 0;
    color: white;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}

