body{
    background-color:#2e2947;
    background-image: radial-gradient(#2e2947,rgb(17, 14, 31));
    background-repeat: no-repeat;
    background-attachment:fixed;
}
div{
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;
}
.battleground{
    margin-top: 60px;
    margin-bottom: 50px;
    justify-content: center;
}
.player{
    rotate: -90deg;
    
}

.h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 47px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}

.name{
    max-width: fit-content;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 0;
    text-shadow: 1px 1px 3px #f924eb;

}
button{
    background-color: #3095c4;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    width: 200px;
    text-shadow: 2px 2px 5px rgb(0, 234, 255);
    transition: 0.1s;
}
button:hover{
    background-color: rgb(0, 26, 255);
    width: 250px;
}
button:active{
    background-color: #00c3ff;
    width: 250px;
}

table{
    text-align: center;
}
td{
    width: 250px;
}


footer{
    margin-top: 30px;
    bottom: 0;
    color: white;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
@media only screen and (max-width: 800px) {
    button{
        width: 150px;
        font-size: 20px;
    }
  }
