body{
    background-color:#2e2947;
    background-image: radial-gradient(#2e2947,rgb(17, 14, 31));
    background-repeat: no-repeat;
    background-attachment:fixed;
}
div{
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;
}
.battleground{
    margin-top: 60px;
    margin-bottom: 50px;
    justify-content: center;
}
#playerMove{
    transform: scaleX(-1);
}

#score{
    max-width: fit-content;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 47px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 0;
    text-shadow: 1px 1px 3px #f924eb;

}
button{
    background-color: #3095c4;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    width: 200px;
    text-shadow: 2px 2px 5px rgb(0, 234, 255);
    transition: 0.1s;
}
button:hover{
    background-color: rgb(0, 26, 255);
    width: 250px;
}
button:active{
    background-color: #00c3ff;
    width: 250px;
}

table{
    text-align: center;
}
td{
    width: 250px;
}


footer{
    margin-top: 30px;
    bottom: 0;
    color: white;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
#easter{
    position: absolute;
    padding: 2px;
}
@media only screen and (max-width: 850px) {
    a{
        font-size: 25px;
    }
    img{
        width: 140px;
        height: 140px;
    }
    button{
        width: 150px;
        font-size: 20px;
        padding: 10px;
        margin: 1px;
    }
    button:hover{
        width: 180px;
    }
    td {
        width: 160px;
        padding: 1px;
    }
}
@media only screen and (max-width: 600px) {
    a{
        font-size: 15px;
    }
    img{
        width: 100px;
        height: 100px;
    }
    button{
        width: 120px;
        font-size: 12px;
        padding: 5px;
        margin: 1px;
    }
    button:hover{
        width: 120px;
    }
    td {
        width: 130px;
        padding: 1px; 
    }
}
@media only screen and (max-width: 430px) {
    a{
        font-size: 15px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    button{
        width: 90px;
        font-size: 15px;
        padding: 3px;
        margin: 1px;
    }
    button:hover{
        width: 100px;
    }
    td {
        width: 100px;
        padding: 1px; 
    }
}
@media only screen and (max-width: 350px) {
    a{
        font-size: 10px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    button{
        width: 70px;
        font-size: 10px;
        padding: 2px;
        margin: 1px;
    }
    button:hover{
        width: 80px;
    }
    td {
        width: 850px;
        padding: 1px; 
    }
}